pip==23.1.2
setuptools==67.8.0
wheel==0.38.4
numpy==1.23.5
panda==0.3.1
pandas==2.0.2
scikit-learn==1.2.2
scipy==1.10.1
keras==2.12.0
Keras-Preprocessing==1.1.2
keras-self-attention==0.51.0
tensorboard==2.12.1
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.6.0
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0